<div>
    <section id="card">
        <ul>
            <li>
                <span></span>
                <strong>How may I help you, bro?</strong>
            </li>
            <li>
                <span></span>
                <strong>How may I help you, bro?</strong>
            </li>
            <li>
                <span></span>
                <strong>How may I help you, bro?</strong>
            </li>
        </ul>
    </section>
    <section id="primary">
        <h1>Your Personal Assistant</h1>
        <p>Get help with your daily life suff.</p>
        <a href="#">Get help already</a>
    </section>
</div>
