<nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="rla.isActive">
        {{link.label}}
    </a>
    <button *ngIf="isLoggin"
            mat-button
            [matMenuTriggerFor]="menu">{{userPath}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngFor="let m of userMenu"
                [routerLink]="m.path"
                routerLinkActive>{{m.label}}</button>
    </mat-menu>

</nav>
