<div class="search-form">
    <form [formGroup]="searchForm"
          (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput
                   formControlName="firstName"
                   minlength="3">
            <mat-error *ngIf="searchForm.controls.firstName.invalid">
                <strong>At least 3 letters</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput
                   formControlName="lastName"
                   minlength="3">
            <mat-error *ngIf="searchForm.controls.lastName.invalid">
                <strong>At least 3 letters</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email"
                   matInput
                   formControlName="email">
            <mat-error *ngIf="searchForm.controls.email.invalid">
                <strong>Wrong format of email</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input type="email"
                   matInput
                   formControlName="phoneNumber">
            <mat-error *ngIf="searchForm.controls.phoneNumber.invalid">
                <strong>At least 10 letters</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button
                color="primary"
                [disabled]="!checkIfValid()">Search</button>
    </form>
</div>
